<div ng-app="app">
    <div ng-controller="engineerController" ng-init="GetAllData()" class="divList">
        <p class="divHead">Enginner's List</p>

        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>


               
                <td>
                    <b>Id</b>
                </td>
                <td>
                    <b>Name</b>
                </td>

            </tr>
            <tr ng-repeat="engineer in Engineers">
               
                <td>
                    {{engineer.Id}}
                </td>
                <td>
                    {{engineer.Name}}
                </td>
            </tr>
        </table>
    </div>
</div>